# 2.1 프로그래밍 기본: 산술 연산, 변수, 출력

###2.1.2. 변수

In [2]:
a = 3
b = 2
a+b

5

###2.1.3 출력함수

In [3]:
a = 3
b = 2
print(a+b)

5

## 2.2 자료형과 자료구조

### 논리형

In [5]:
3 > 1

True

In [6]:
3 > 7

False

### 리스트와 튜플

In [7]:
sample_list = [1,2,3,4,5,6,7,8,9,10]
sample_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
sample_tuple = (1,2,3,4,5,6,7,8,9,10)
sample_tuple

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [9]:
sample_list[0]

1

In [10]:
sample_tuple[3]

4

In [11]:
sample_list.remove(10)
sample_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
sample_tuple.remove(10)

AttributeError: 'tuple' object has no attribute 'remove'

In [15]:
sample_list.append(100)
sample_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 100, 100]

### 딕셔너리

In [16]:
sample_dic = {'name': ['John','Ann','Kevin'], 'age': [23,22,21]}
sample_dic

{'name': ['John', 'Ann', 'Kevin'], 'age': [23, 22, 21]}

In [17]:
sample_dic['name']

['John', 'Ann', 'Kevin']

### 세트

In [21]:
set_list = [1,2,3,3,4,5,3,3]

In [24]:
set(set_list)

{1, 2, 3, 4, 5}

In [27]:
sample_set = set(set_list)

In [28]:
sample_set[0]

TypeError: 'set' object is not subscriptable

In [29]:
sample_set.add(6)
sample_set

{1, 2, 3, 4, 5, 6}

## 2.3 반복문 : for문, while문

In [31]:
for i in [1, 2, 3]:
    print(i+5)

6
7
8

In [32]:
a = 5
while a > 0:
    print(a)
    a = a-1

5
4
3
2
1

## 2.4 조건문 : if문

In [34]:
x = 3 # ❶ 테스트할 값
if x % 2 == 0: # ❷ 기본 조건 : even 출력
    print('even')
else:  # ❸ 나머지 : odd 출력
    print('odd')

odd

In [35]:
sample_list = [-3,5,0,-1,2]

In [36]:
for i in sample_list:
    if i > 0: # 기본 조건: i가 0보다 크면 positive를 출력
        print('positive')
    elif i < 0: # 추가 조건: i가 0보다 작으면 negative를 출력
        print('negative')
    else: # 나머지: 위의 두 경우 모두 해당하지 않으면 zero를 출력
        print('zero')

negative
positive
zero
negative
positive

In [37]:
for i in sample_list:
    if i > 0: # 기본 조건: i가 0보다 크면 positive를 출력
        print('positive')
    elif i < 0: # 추가 조건: i가 0보다 작으면 negative를 출력
        print('negative')
    else: # 나머지: 위의 두 경우 모두 해당하지 않으면 zero를 출력
         print('zero')

negative
positive
zero
negative
positive

## 2.6 나만의 함수 만들기 : def

In [38]:
def plus_ten(x): #plus_ten은 함수 이름, x는 이 함수에 들어갈 매개변수
    return x + 10 #함수가 x에 10을 더하도록 연산

In [39]:
plus_ten(5)

15

In [41]:
def sum(a,b): # sum이라는 이름의 함수로, 매개변수는 a와 b
    return a+b #a와 b의 합을 구하는 연산

In [42]:
sum(10,5)

15

In [43]:
def sum_five(a,b=5): # b에 5라는 기본값이 설정됨
    return a+b

In [44]:
sum_five(10)

15

In [45]:
sum_five(10,7)

17